*
{
    padding: 0px;
    margin: 0px;
}
#Map_Component
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: red;
}